---
import Navigation from "../components/Navigation.astro"
import Header from "../components/Header.astro"
---
<Header nomeDaPagina="Galeria Pocket - Blog"/>

<body>
    <h1>Galeria Pocket</h1>
    <h2>Blog</h2>
    <ul>
        <ul>
            <li><a href="/posts/post-1/" target="_blank">Postagem 1</a></li>      
            <li><a href="/posts/post-2/" target="_blank">Postagem 2</a></li>
            <li><a href="/posts/post-3/" target="_blank">Postagem 3</a></li>
          </ul>
    </ul>
</body>
</html>